body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  padding: 1rem;
}

h1, h2, h3 {
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
