.header {
  text-align: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--color-accent);
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  color: var(--color-secondary);
}

#workout-container {
  margin-top: 2rem;
}
