.stats-container {
  background: #111418;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
}

.stats-title {
  color: var(--color-secondary);
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0;
}
